@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-light: #d5c4a1;
  --color-primary-dark: #161616;

  --color-red-light: #fb4934;
  --color-red-dark: #cc241d;

  --color-link-light: #458588;
  --color-link-dark: #83a598;

  --font-primary: 'IBM Plex Sans Thai Looped', sans-serif;

  --shadow-primary: rgba(213, 196, 161, 0.05) 0px 1px 0px, rgba(213, 196, 161, 0.1) 0px 0px 8px;
  --shadow-primary-dark: rgba(22, 22, 22, 0.05) 0px 1px 0px, rgba(22, 22, 22, 0.1) 0px 0px 8px;
}

@layer base {
  html {
    @apply dark:bg-primary-dark dark:text-primary-light bg-primary-light text-primary-dark font-primary h-full transition-colors duration-100 ease-in-out;
    font-weight: 500;
  }

  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg leading-none;
  }

  a {
    @apply text-link-light dark:text-link-dark relative inline-block;
  }

  a[target='_blank']::before {
    @apply -mr-1 inline-block h-4 w-4 align-middle;
    content: '';
    background-color: currentColor;
    mask: url('/icon-external-link.svg') no-repeat center;
    mask-size: contain;
  }

  a:after {
    @apply border-link-light dark:border-link-dark border-1;
    display: block;
    content: '';
    transform: scaleX(0);
    transition: transform 100ms ease-in-out;
  }

  a:hover:after {
    transform: scaleX(1);
  }
}
